*{
    margin: 0;
    font-family: sans-serif,'Poppins-Black';
}
@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Black.ttf') format('truetype');
  }
header{  
    height: 600px;
    background-image: url(/assets/images/mar.jpg);
    background-size: cover;
}
nav img{
    height: 100px;
    width: 100px;
    object-fit: contain;
}
nav{
    border-bottom: 2px solid black;
}
.nav-div{
    flex-direction: row;
    display: inline-flex;
    gap: 80px;
    height: 100px;
    width: 100%;
    justify-content: space-evenly;
    margin: 5px;
    align-items: center;
}
.nav-div a{
    font-size: 30px;
    color: #180858;
    text-decoration: none;
    text-shadow: -1px 1px #303030;
    font-weight: bold;

}