.first-section {
    display: flex;
    background-image: url(/assets/images/paisagem/Destinos.jpg);
    background-repeat: no-repeat;
    height: 70vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.div-section{
    width: 100%;
    text-align: center;
}
.text-content{
    margin-bottom: 40px;
}
.text-content h1{
    font-size: 48px;
    color: white;
    text-shadow: 0 3px 5px #000;

}
.experience{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 50px 0;
    color: #00476c;
    justify-content: center;
    gap: 80px;
}
.experience-content{
    background: #fff;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    border: 2px solid #00476c;
    height: 600px;
}
.experience-reverse{
    flex-direction: row-reverse;
}
.experience-img{ 
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}
.img-experience{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.experience-text{
    height: 100%;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px;
    align-items: center;
    /* margin-right: 40px; */
    text-align: center;
}
.experience-text h2{
    margin-bottom: 50px;
}
.experience-text p {
    font-size: 18px;
}
.button-experience{
    margin: 30px;
    color: #00476c;
    border: 2px solid #00476c;

}

@media (max-width: 768px){
    .experience-content{
        height: 100vh;
        width: 90%;
        flex-direction: column;
        justify-content:flex-start;
        gap: 0px;
        /* margin-bottom: 50px; */
    }
    .experience-img{
        width: 100%;
        height: 40vh;
    }
    .img-experience{
        height: 40vh;
        width: 100%;
    }
    .experience-text{
        justify-content: flex-start;
        align-self: center;
        height: 50vh;
        width: 100%;
        text-align: center;
        gap: 10px;
        justify-content: space-between;
        /* margin-top: 70px; */
    }
    .experience-text h2{
        margin-bottom: 5px;
    }
    .experience-text p{
        font-size: 15.5px;
    }
    .button-experience{
        justify-self: flex-end;
        margin: 0;
    
}
@media (min-width: 768px){
    .experience-text p{
        font-size: 24px;
    }
}
}

@media (min-width: 1700px){
    .first-section{
       background-position-y: center; 
    }
}
