body{
    color:#00476c;
}
header{
    position: fixed;

}
.first-section {
    display: flex;
    background-image: url(/assets/images/cruise1.jpg);
    background-repeat: no-repeat;
    background-position: -1px -900px;
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.text{
    display: flex;
    width: 100%;
    padding: 15px 20%;
    font-size: 20px;
    text-align: center;
}
.div-section{
    display: flex;
    width: 100%;
    justify-content: center;
}
.text-content{
    margin-bottom: 40px;
}
.text-content h1{
    font-size: 40px;
    color: white;
    text-shadow: 0 3px 5px #000;
}
.img-card{
    width: 400px;
    height: 400px;
}
.section{
    display: flex;
    justify-content: center;
}
.grid_container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto; 
    width: 80%; 
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
    padding: 1%;
}

.card_grid{
    height: 42vh;
    background-color: #fff;
    border-radius: 4px;
    margin-right: 10%;
    margin-left: 10%;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}
.caixa{
    padding: 2%;
}

.img-card{
    margin-right: 20px;
    object-fit: cover;
    height: 100%;
}
.item1, .item3{
    float: left;
}
.item2, .item4{
    float: right;
    margin: 0;
}
@media (min-width: 1700px){
    .first-section{
       background-position-y: center; 
    }
} 
