/* SECTION PRINCIPAL  */
.first-section{
    display: flex;
    background-image: url(/assets/images/cruise2brilho.jpg) !important;
    background-repeat: no-repeat !important;
    height: 100vh;
    width: 100%;
    background-size: cover !important;
    background-attachment: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.div-section{
    width: 80%;
}
.text-content{
    margin-bottom: 50px;
}
.text-content h1, .text-content span{
    font-family: 'Poppins-Italic';
    font-size: 48px;
    color: white;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.6);
    height: 50%;

}
.button-section{
    display: flex;
    justify-content: center;
}

.button{
    padding: 10px;
    width: 20vh;
    height: 3rem;
    background-color: transparent;
    background-color: #00476c;
    border-radius: 4px;
    color: #fff;
    border: 0;
    cursor: pointer;
    transition-duration: 2s;
}


.button:hover{
   transform: scale(1.2, 1.2);
   color: #0187A0;
}

.form_div{
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
    border: #00476c 2px solid;
    background-color: #00476c;
    margin-bottom: 50px;
}
.form{
    display: flex;
    height: 50px;
    justify-content: space-between;
    width: 80%;
    height: 80%;
    align-items: center;
    gap: 20px;
   
}
.form select, input, input[type=submit]{
    width: 50%;
    height: 60%;
    background-color: rgb(255, 255, 255, 0.9);
    font-weight: bolder;
    text-align: center;
    color: #00476c;
    border-radius: 8px;
    font-family: 'Poppins-italic', sans-serif;
    border: 2px solid white;
    font-size: 18px;
}

/* FROTAS DO NÁVIO  */
.frotas{
    text-align: left;
    margin: 5% 5%;
    width: 90%;
}
.frotas-title{
    margin: 50px;
    font-weight: 500;
    text-align: center;
}
.frota-grid{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    /* margin: auto; */
    width: 100%;
    gap: 50px;
}
.card-section{
    width: 400px;
    height: 400px;
}
.text-card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
}

.button-card{
    margin: 80px 25%;
}
.frota-first{
    background: url(/assets/images/frota1.jpg);
    background-size: cover;
}
.frota-second{
    background: url(/assets/images/frota2.jpg);
    background-size: cover;
    background-position: center;
}
.frota-third{
   
    background: url(/assets/images/frota3.jpg);
    background-size: cover;
    background-position: center;
}
.frota-four{
 
    background: url(/assets/images/frota3.jpg);
    background-size: cover;
    background-position: center;
}

/* RESPONSIVO */

@media (min-width: 1700px){
    .first-section{
       background-position-y: center; 
    }
  
} 