@media (min-width: 1700px){
    .first-section{
       background-position-y: center; 
    }
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url(./fonts/Poppins/Poppins-Regular.ttf);
}


*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: transparent;
    color: #fff;
}
.header-scrolled{
    background-color: aqua;
}

#title a{
    text-decoration: none;
    color: white;
    transition-delay: 2s;
}
#title {
    margin-left: 10%;
}
#navbar {
    display: flex;
    justify-content: flex-end;
    gap: 100px;
    margin-right: 10%;
}
#navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition-delay: 2s;

}


